# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# macOS
.DS_Store

# Jupyter
*.ipynb_checkpoints

# Editor
.vscode/
/.idea/
eye_dataset/
.ipynb_checkpoints/
*.egg-info/
eye_dataset/
