absl-py==2.3.1
astunparse==1.6.3
certifi==2025.11.12
charset-normalizer==3.4.4
flatbuffers==25.9.23
gast==0.7.0
google-pasta==0.2.0
grpcio==1.76.0
h5py==3.14.0
idna==3.11
importlib-metadata==8.7.0
keras==3.10.0
libclang==18.1.1
Markdown==3.9
MarkupSafe==3.0.3
matplotlib==3.9.4
mediapipe==0.10.14
ml-dtypes==0.3.2
numpy==1.26.4
opencv-python==4.11.0.86
opt-einsum==3.4.0
packaging==25.0
pillow==11.3.0
protobuf==4.25.8
requests==2.32.5
six==1.17.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-macos==2.16.2
tensorflow-metal==1.2.0
termcolor==3.1.0
typing-extensions==4.15.0
urllib3==2.6.1
Werkzeug==3.1.4
wrapt==2.0.1
zipp==3.23.0
imutils==0.5.4